@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// *** COLORS ***
$primary-clr: #2BD17E;
$secondary-clr: #093545;
$blue-light-clr: #224957;
$blue-dark-clr: #092C39;
$error-clr: #EB5757;
$black-clr: #000000;
$white-clr: #ffffff;
// *** END COLORS ***

$light: 300;
$normal: 400;
$semibold: 600;
$bold: 700;

$montserrat-font: "Montserrat", sans-serif;


$exSmall: 429px;
$Small: 767px;
$medium: 991px;
$exMedium: 1023px;
$large: 1200px;